# Virtual Environment
env/
venv/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# SQLite database
instance/
*.db
*.sqlite3

# Logs
*.log

# Downloads and uploads (temporary files)
downloads/
uploads/
